.auth-container {
  width: 400px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container form input,
.auth-container form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.auth-container a {
  color: black;
  font-weight: 600;
}
