/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fafafa;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: auto;
}
