.products-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px #ccc;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
