.sell-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #111;
  color: white;
  border-radius: 12px;
}

.sell-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.sell-form .form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 6px;
}

input, select, textarea {
  padding: 12px;
  border: 1px solid #333;
  background: #222;
  color: white;
  border-radius: 8px;
}

textarea {
  height: 100px;
}

.sell-btn {
  width: 100%;
  background: white;
  color: black;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.sell-btn:hover {
  opacity: 0.8;
}

.preview-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
